.idea
.vs

src/Hrimsoft.SqlBulk.PostgreSql/bin
src/Hrimsoft.SqlBulk.PostgreSql/obj

src/tests/Hrimsoft.SqlBulk.PostgreSql.Tests/bin
src/tests/Hrimsoft.SqlBulk.PostgreSql.Tests/obj

src/tests/Hrimsoft.SqlBulk.PostgreSql.IntegrationTests/bin
src/tests/Hrimsoft.SqlBulk.PostgreSql.IntegrationTests/obj

*.DotSettings.user