.idea
.vs

Hrimsoft.SqlBulk.PostgreSql/bin
Hrimsoft.SqlBulk.PostgreSql/obj

Hrimsoft.SqlBulk.PostgreSql.Tests/bin
Hrimsoft.SqlBulk.PostgreSql.Tests/obj

Hrimsoft.SqlBulk.PostgreSql.IntegrationTests/bin
Hrimsoft.SqlBulk.PostgreSql.IntegrationTests/obj

*.DotSettings.user